<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ordermanager"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.amkat.ordermanager.entity.Customer</class>
        <class>com.amkat.ordermanager.entity.Product</class>
        <class>com.amkat.ordermanager.entity.Supplier</class>
        <class>com.amkat.ordermanager.entity.Coupon</class>
        <class>com.amkat.ordermanager.entity.Transaction</class>
        <class>com.amkat.ordermanager.entity.OrderItem</class>
        <class>com.amkat.ordermanager.entity.Order</class>
    </persistence-unit>
</persistence>
